@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">

    <div class="text-black-10 text-center" style="  height: 5em; width: 100%; background-image: url('../images/conf 1.png');background-repeat: no-repeat;background-size:cover;background-attachment:fixed;position:relative">
        <div style="position:absolute;top:30%;left:35%">
            <p class="text-info text-uppercase font-weight-bold">155 days to the event</p>
            <img src="~/images/hero-logo.png" style="width:20em;" />
            <h1 class="card-title display-4 font-weight-bolder">2020</h1>
            <p class="card-text">29 February 2020 | International Hotel, Iasi, Romania</p>
            <button class="btn btn-info">Register</button>
        </div>
    </div>
</div>*@
@*
<div class>
        <section id="hero" class="hero-section align-center light-text window-height center-content text-center bg-cover">
            <div class="heading-block">
                <div class="container">
                    <div class="hero-heading-top">
                        <span id="days">187</span>days to the event
                    </div>
                    <div class="logo">
                        <img src="~/images/hero-logo.png" />
                    </div>
                    <h1 class="hero-heading-main">2020</h1>
                    <div class="location">29 February 2020 | International Hotel, Iasi, Romania</div>
                    <div class="btns-container">
                        <a href="http://dotnetdays.eventbrite.com" target="_blank" class="btn btn-large btn-main">Register</a>
                    </div>
                </div>
            </div>
            <div class="counters-wrapper" style="height:90px;"></div>
        </section>
    </div>*@