@model IEnumerable<Conference.Domain.Entities.Speakers>

@{
    ViewData["Title"] = "Index";
}
<div class="">
    <div class="container">
        <div class="row parent">

            @foreach (var item in Model)
            {
                <div class="col-sm-12 col-lg-3 child" style="background-image:url(https://dndays.blob.core.windows.net/img/91/alex-thissen.png.webp)">
                    <div class="details">
                        <a class="link" asp-controller="Speaker" asp-action="Details" asp-route-id="@item.Id">
                            @item.FirstName @item.LastName
                            <span class="position">Cloud Architect</span>
                            <span class="position">Xpirit</span>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
