@model IEnumerable<Conference.Domain.Entities.Talks>

@{
    ViewData["Title"] = "Index";
}

    <div>
        <section class="container">
            <div>
                <h1 class="title mv container">Talks</h1>
            </div>
            <h1 class="text-center mv title">Stay tuned! Talks will be announced soon.</h1>
        </section>
    </div>
