@model IEnumerable<Conference.Domain.Entities.Workshops>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12">
                <div class="item">
                    <div class="details">
                        <a asp-controller="Workshop" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                    </div>
                </div>
                @if (item.Name == "Workshop 2019")
                {
                    <div class="">
                        <section class="container">
                            <div>
                                <h1 class="title mv container">Workshops</h1>
                            </div>
                            <div class="parent row">
                                <div class="col-lg-3 child workshop">
                                    <span class="talk-time">01/12, 09:00 - 11:00</span>
                                    <div class="text-big mv fixed">
                                        <a class="name" href="/2019/Workshops/Details/1">
                                            Deep-Dive in Asp Core
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 child workshop">
                                    <span class="talk-time">01/12, 11:00 - 13:00</span>
                                    <div class="text-big mv fixed">
                                        <a class="name" href="/2019/Workshops/Details/2">
                                            dotnet with Docker on Linux
                                        </a>
                                    </div>

                                </div>
                                <div class="col-lg-3 child workshop">
                                    <span class="talk-time">01/12, 13:00 - 15:00</span>
                                    <div class="text-big mv fixed">
                                        <a class="name" href="/2019/Workshops/Details/3">
                                            Clean Code: Dive beyond the theory
                                        </a>
                                    </div>

                                </div>
                                <div class="col-lg-3 child workshop">
                                    <span class="talk-time">01/12, 15:00 - 18:00</span>
                                    <div class="text-big mv fixed">
                                        <a class="name" href="/2019/Workshops/Details/4">
                                            Applied serverless: event-driven processing in Azure
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                }
            </div>
        }
    </div>
</div>