@model IEnumerable<Conference.Domain.Entities.Editions>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-6 style-svg text-left">
                <div class="item">
                    <div class="details">
                        <a asp-controller="Edition" asp-action="Details" asp-route-id="@item.Id"> @item.Name</a>

                    </div>
                </div>
                <div>
                @if (item.Name == "2019 .NET Edition")
                {
                    <img src="~/image/prima editie.jpeg" class="photo" />
                }
                </div>
            </div>
        }
    </div>
</div>


